body{
    font-size:14px;
    margin:10px 0px;
}
ul,li{list-style:none;padding:0px;margin:0px}
a,a:hover{text-decoration:none}
td{font-size:14px;}
h2{
    font-size:16px;
    padding-bottom:10px;
    font-weight: normal;
}
@media (min-width:1280px){
    .container{width:1170px}
}

@media (min-width:1440px){
    .container{width:1300px}
}
@media (min-width:1680px){
    .container{width:1600px}
}

.apidoc-subject{
    border-bottom:1px solid #ddd;
    padding:20px 0;
    text-align:center;
}
.api-detail-panel h2{
    background:#d5d5d5;
    display:inline-block;
    margin-bottom:15px;
    padding:10px;
    border:0;
    border-radius:4px 4px 0px 0px;
}
.api-detail-panel h2:after{
    left:0px;
    height:10px;
    line-height: 10px;
    content:" ";
    display:block;
    width:100%;
    position: absolute;
    border-bottom:1px solid #ddd;
}
#api_name_doctitle{
    font-size:18px;
}
table thead tr{
    border-width:1px 1px 0px 1px;
    border-style:solid;
    border-color:#959595;
}
table thead td{
    background:#959595;
    color:#fff;
}
li.api-catalog{
    background:#d5d5d5;
    padding:1px;

}
li.api-catalog h3{
    font-size:14px;
    padding:20px 5px 20px 5px;
    text-align:center;
    border-bottom:#ddd;
    margin:0px;
}
.apilist-error{
    padding:20px 5px 20px 5px;
    text-align:center;
    border-bottom:#ddd;
    background:#d5d5d5;
}
.apilist li{
    background:#f5f5f5;
    font-size:12px;
    cursor:pointer;
}
.apilist li a,
.apilist li a span{
    display:block;
}
.apilist li a{
    padding:5px 20px;
    text-decoration: none;
}
.apilist li a p{
    margin:0;
    padding:0;
    color:#666;
}
.apilist li.cur,.apilist li:hover{
    background:#ddecf4;
    color:#0089cd;
}
.apilist li.cur a,.apilist li:hover a{
    color:#0089cd;
    font-weight:700;
}
.fa-plus-square-o,fa-minus-square-o{
    margin-right:5px;
}
.api-response-table{
    border:1px solid #dedede;
}
table > tbody > tr.custom-type-row > td{
    cursor:pointer;
}
.padding-deep-1 td:first-child{
    padding-left:20px;
}
.padding-deep-2 td:first-child{
    padding-left:40px;
}
.padding-deep-3 td:first-child{
    padding-left:60px;
}
.padding-deep-4 td:first-child{
    padding-left:80px;
}
.child-row td:first-child:before{
    content:"\f18e";
    font-family:'fontawesome';
    margin-right:5px;
}
.type-close td:first-child,
.type-open td:first-child{
    cursor:pointer;
}
.type-close td:first-child:before{
    cursor:pointer;
    content:"\f147";
    font-family:'fontawesome';
    margin-right:5px;
}
.type-open td:first-child:before{
    cursor:pointer;
    content:"\f196";
    font-family:'fontawesome';
    margin-right:5px;
}
.custom-type-row td{
    background:rgba(128, 128, 121, 0.18);
}
pre,.well{
    border-radius:2px;
}
.errorcode-panel{
    margin-top:30px;
    background:#f5f5f5;
    padding-bottom:10px;
}
.errorcode li{
    padding:2px 10px;
}
.errorcode span{margin-right:5px;}
.autobreak{
    word-break: break-all;
}
.nobreak{
    white-space: nowrap;
}